<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<title>Login</title>
</head>
<body class="blue lighten-5">
	{% include "navbar.html" %}
	<div class="container">
		<div class="row card blue">
			<div class="col s12 center-align">
				<h4 class="white-text">Login Page</h4>
			</div>
		</div>
		{% for message in get_flashed_messages() %}
			<div class="row">
				<div class="card">
					<div class="card-content">
						<p>{{ message }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		<form action="{{ url_for('login') }}" method="POST">
			<div class="row">
				<div class="input-field col s12">
					<input type="text"
						id="username"
						name="username"
						class="validate"
						required>
					<label for="username">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="password"
						id="password"
						name="password"
						class="validate"
						required>
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="col s4 center">
					<button class="btn" type="submit">Submit</button>
				</div>
				<div class="col s4 center">
					<a href="{{ url_for('register') }}" class="btn">Register</a>
				</div>
				<div class="col s4 center">
					<button class="btn" type="reset">Reset</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
